body {
  font-family: sans-serif;
}

::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: red;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:after, *:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

button {
  cursor: pointer;
}

h1 {
  text-align: center;
}

h1 span {
  text-transform: uppercase;
  background-color: red;
  color: #fff;
  padding: 2px 5px;
}

.select {
  margin: 0 auto;
  position: relative;
  max-width: 450px;
  width: 100%;
  margin-bottom: 30px;
}

.select.is-active .select__body {
  display: block;
}

.select__header {
  border: 1px solid #eee;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  line-height: 24px;
  padding: 8px;
  -webkit-border-radius: 7px;
          border-radius: 7px;
}

.select__body {
  height: 350px;
  border: 1px solid #eee;
  border-top: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 86%;
  z-index: 20;
  background-color: #fff;
  overflow-y: scroll;
}

.select__item {
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  padding: 8px;
}

.select__item:hover {
  background-color: rgba(98, 89, 148, 0.151);
}

.select__btn {
  display: block;
  width: 50px;
  height: 29px;
  position: absolute;
  right: 10px;
  top: 6px;
}

.select__btn span, .select__btn span::after, .select__btn span::before {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #222;
}

.select__btn span::after,
.select__btn span::before {
  content: '';
  display: block;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.select__btn span::before {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}

.select__btn span::after {
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
}

.select__btn_active span {
  height: 0;
}

.select__btn_active span:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.select__btn_active span:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.card {
  position: relative;
  width: 300px;
  height: 400px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: .7s linear;
  -o-transition: .7s linear;
  transition: .7s linear;
  text-decoration: none;
}

.card-wrap {
  text-align: center;
  width: 300px;
  margin: 5px;
  -webkit-perspective: 1200;
          perspective: 1200;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  text-decoration: none;
}

.card-wrap:hover .card {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card__title {
  color: #fff;
}

.card .front {
  position: relative;
  text-decoration: none;
  -webkit-flex-basis: 300px;
      -ms-flex-preferred-size: 300px;
          flex-basis: 300px;
  height: 400px;
  background: #ccc;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
          background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  overflow: hidden;
  border: 3px solid #eee;
  z-index: 2;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.card .front::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100px;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.card .front, .card .back {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 20px 20px;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.card .back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  background: #491010;
  color: white;
  position: relative;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.card .back::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.card .back-wrap {
  z-index: 99;
  text-align: left;
  height: 320px;
  overflow-y: auto;
  padding-right: 10px;
}

.card .back-wrap span {
  display: block;
  font-size: 14px;
}

.card .back-wrap b {
  color: #ccb6b6;
  opacity: .9;
  margin-bottom: 2px;
  font-size: 12px;
}

.cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding: 180px;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: #fff;
}

@media (max-width: 1050px) {
  .cards {
    padding: 0;
    padding-top: 130px;
  }
}

@media (max-width: 675px) {
  .select {
    max-width: 300px;
  }
}
